.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  position: relative;
}

.container {
  width: 1200px;
  box-sizing: border-box;
  padding: 0 10px;
}

.header {
  width: 100%;
  background: #3a80ba;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
  padding: 10px 0 13px;
}

.transactions {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  & > form {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;

    & > .paramsContainer {
      display: flex;
      flex-direction: row;
      width: fit-content;
      height: inherit;
      align-items: center;
      border: 1px solid #f1f1f1;
      border-radius: 10px;
      padding: 8px 0;
      box-sizing: border-box;

      & > input {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #1a1a1a;
        margin: 0 12px 3px 8px;
        box-sizing: border-box;
        border: none;
        outline: none;

        &::placeholder {
          color: #979797;
          font-style: italic;
        }
      }

      & > .separator {
        height: 32px;
        width: 1px;
        min-width: 1px;
        background: #f1f1f1;
      }

      & > .selector {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 8px 0 12px;
        width: 100%;
        position: relative;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #1a1a1a;

        & > .selected {
          width: 50px;
          margin-right: 50px;
        }

        & > .list {
          position: absolute;
          top: 100%;
          background: white;
          left: -1px;
          z-index: 2;
          width: calc(100% + 2px);
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          border: 1px solid #f1f1f1;
          border-top: none;
          border-radius: 0 0 10px 10px;
          padding: 8px 12px 0 12px;

          & > .item {
            padding: 8px 0;
            border-top: 1px solid #f1f1f1;
          }
        }

        & > img {
          width: 16px;
          height: auto;
        }
      }
    }

    & > .submit {
      height: inherit;
      width: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 16px;
      background-color: #3a80ba;
      border: none;
      border-radius: 8px;
      margin-left: 12px;

      & > img {
        width: 16px;
        height: 16px;
      }
    }
  }

  & > .pagination {
    margin: 56px auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > .pageContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 48px;
      width: 48px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #1a1a1a;
      border-radius: 8px;
      border: 2px solid #f1f1f1;
      box-sizing: border-box;
      margin: 0 4px;
    }

    & > .active {
      border: none;
      color: #ffffff;
      background: #3a80ba;
      cursor: default;
    }

    & > .arrowContainer {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: 48px;
      margin: 0 4px;

      & > .next,
      .prev {
        width: 12px;
        height: auto;
      }

      & > .next {
        transform: rotate(180deg);
      }
    }

    & > .disabled {
      cursor: default;
    }
  }
}

.tableContainer {
  width: 100%;
  max-width: 100%;

  & > table {
    width: 100%;
    border-collapse: collapse;
    border-color: white;
    table-layout: fixed;

    & > thead {
      background: #3a80ba;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;

      & > tr > th {
        padding: 4px 12px;
        width: auto;
        border: 1px solid white;
      }

      & > tr > .fixed {
        width: 90px;
      }
    }

    & > tbody {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #1a1a1a;

      & > tr {
        background: #fbfbfb;
      }
      & > tr:nth-child(even) {
        background: #f1f1f1;
      }
      & > tr > td {
        padding: 7px 12px 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        & > span > a {
          color: #3a80ba;
        }
      }
      & > tr > .fixed {
        width: 90px;
      }
    }
  }
}

.footer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #1c3b55;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    color: #ffffff;
    position: relative;

    & > h2 {
      font-size: 24px;
      line-height: 29px;
    }

    & > .rights {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.errorBlur {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #9797979c;
  backdrop-filter: blur(5px);

  & > .content {
    padding: 30px 40px;
    border-radius: 15px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h1 {
      font-size: 36px;
      color: rgb(146, 0, 0);
      margin: 0 0 20px;
    }

    & > p {
      font-size: 20px;
      color: #1a1a1a;
      margin: 0 0 35px;
    }

    & > div {
      width: fit-content;
      background: rgb(146, 0, 0);
      color: #ffffff;
      font-size: 28px;
      padding: 8px 20px;
      border-radius: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 900px;
    box-sizing: border-box;
    padding: 0 10px;
  }

  .tableContainer {
    & > table {
      & > thead {
        font-size: 12px;
        line-height: 16px;

        & > tr > th {
          padding: 4px 10px;
        }
      }

      & > tbody {
        font-size: 12px;
        line-height: 16px;

        & > tr > td {
          padding: 5px 9px 6px;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .tableContainer {
    overflow-x: scroll;

    & > table {
      width: 100%;
      min-width: 650px;

      & > thead {
        font-size: 10px;
        line-height: 13px;

        & > tr > th {
          padding: 3px 8px;
        }
      }

      & > tbody {
        font-size: 10px;
        line-height: 13px;

        & > tr > td {
          padding: 4px 7px 5px;
        }
      }
    }
  }
}

@media (max-width: 690px) {
  .footer {
    & > .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > .rights {
        position: unset;
        right: auto;
        transform: none;
        margin-bottom: 20px;
      }
    }
  }

  .transactions {
  
    & > form {
      height: 35px;
      margin-bottom: 12px;
  
      & > .paramsContainer {
        border-radius: 7px;
        padding: 5px 0;
  
        & > input {
          font-size: 12px;
          line-height: 15px;
          margin: 0 8px 2px 5px;
        }
  
        & > .separator {
          height: 25px;
        }
  
        & > .selector {
          padding: 0px 5px 0 8px;
          font-size: 12px;
          line-height: 15px;
  
          & > .selected {
            width: 40px;
            margin-right: 25px;
          }
  
          & > .list {
            border-radius: 0 0 8px 8px;
            padding: 5px 8px 0 8px;
  
            & > .item {
              padding: 5px 0;
            }
          }
  
          & > img {
            width: 16px;
            height: auto;
          }
        }
      }
  
      & > .submit {
        width: 35px;
        margin-left: 8px;
        border-radius: 5px;
  
        & > img {
          width: 12px;
          height: 12px;
        }
      }
    }
  
    & > .pagination {
      margin: 30px auto;
  
      & > .pageContainer {
        height: 30px;
        width: 30px;
        font-size: 12px;
        line-height: 15px;
        border-radius: 5px;
        margin: 0 2px;
      }
  
      & > .active {
        border: none;
        color: #ffffff;
        background: #3a80ba;
        cursor: default;
      }
  
      & > .arrowContainer {
        height: 30px;
        width: 30px;
        margin: 0 2px;
  
        & > .next,
        .prev {
          width: 9px;
        }
      }
    }
  }
}
